

.navbar{
    font-size: 22px;
    background-color: #046cf5;
    

    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background: 
    linear-gradient(#046cf5, #046cf5c7),
    url('../../../../assets/images/communityCenter-04.jpg');
}

.nav-link{
    color: rgba(255, 255, 255, 0.774);
    margin-right: 15px;
}

.nav-link:hover{
    color: white;
    background-color: rgba(240, 248, 255, 0.034);
}

.logo{
    width: 90px;
    height: 90px;
    border-radius: 15%;
}



/* 

*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}


.navbar {
    background-color: #44a43a;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background: 
    linear-gradient(#00000019, #00000019),
    url('../../../../assets/images/communityCenter-04.jpg');
}
.nav-item {
    font-size: 1.2rem; 
    margin-right: 20px;
}
.nav-link {
    background-color: #44a43a4c; 
    padding: 10px 15px; 
    border-radius: 5px; 
}
.nav-link:hover {
    background-color: #ffffff66; 
}
.navbar-toggler {
    border-color: #44a43a; 
}
.navbar-toggler-icon {
    background-color: #44a43a; 
}

@media (max-width: 768px) {
    .navbar {
        
        background-size: auto 100%; 
    }
}

@media (min-width: 769px) {
    .navbar {
        background-size: 100% auto; 
    }
} */
