


.badge {
    position: absolute;
    left: 5px;
    top: 5px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: rgb(53, 79, 197);
    color: #fff;
    padding: 3px 10px;
}

.badge-important{
    left: 30%;
    background: #cf0000;
}

.modal-badge{
    left: 5px;
    top: 5px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: rgb(53, 79, 197);
    color: #fff;
    padding: 3px 10px;
}
.modal-badge-important{
    background: #cf0000;
}

#eventDetails .modal-dialog {
    max-width: 50%;
    margin: 1rem auto;
  }

/* Media Query para pantallas mayores a 700px */
@media screen and (min-width: 700px) {
    
    .width-modal1{
        width: 50%;
    }

  }
  