<div class="container-form">
    <div class="information">
      <div class="info-childs">
        <h2>Bienvenido</h2>
        <p>Tu ayuda marca la diferencia. Juntos, podemos lograr mucho más. ¡Sumate!</p>
      </div>
    </div>
    <div class="form-information">
      <div class="form-information-childs">
        <h2>¡Sumate como voluntario!</h2>
  
        <form (ngSubmit)="saveVolunteer()" class="form">
          <label>
            <i class='bx bx-user'></i>
            <input [(ngModel)]="volunteer.name" type="text" placeholder="Nombre completo" name="nombre" required>
          </label>
          <label>
            <i class='bx bx-envelope'></i>
            <input [(ngModel)]="volunteer.email" type="email" placeholder="Email" name="email" required>
          </label>
          <label>
            <i class='bx bx-phone'></i>
            <input [(ngModel)]="volunteer.phone" type="text" placeholder="Teléfono" name="telefono">
          </label>
          <label>
            <i class='bx bx-location-plus'></i>
            <input [(ngModel)]="volunteer.city" type="text" placeholder="Ciudad" name="ciudad">
          </label>
          <input [disabled]="!volunteer.email" type="submit" value="Inscribirme">
        </form>
      </div>
    </div>
  </div>
