body {
    background: linear-gradient(rgba(5, 7, 12, 0.2), rgba(5, 7, 12, 0.2)),
    url('../../../../assets/images/communityCenter-about-us-05.jpg') no-repeat center center fixed;
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
 
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(5, 7, 12, 0.2), rgba(5, 7, 12, 0.2)),
    url('../../../../assets/images/communityCenter-about-us-05.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1; 
}
section {
    background-color: rgba(141, 150, 233, 0.932); 
    border-radius: 4px;
    margin: 2rem;
    
}
article img{
    overflow: hidden;
    border-radius: 4px;
}

article p{
    font-size: 18px;
}

.Main_Titulo{
    font-size: 50px;
    font-weight: 700;
}