<div class="container">
    <div class="row ">

        <div class="col-md-3">

            <div class="admin-panel d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
                <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-4">Administrar</span>
                </a>
                <hr>
                <div class="list-group">
                    <a routerLink="/admin/users" routerLinkActive="active" class="list-group-item list-group-item-action">Usuarios</a>

                    <a routerLink="/admin/events" routerLinkActive="active" class="list-group-item list-group-item-action">Eventos </a>
                    
                    <a routerLink="/admin/sections" routerLinkActive="active" class="list-group-item list-group-item-action">Secciones</a>
                  </div>
                <hr>
            </div>

        </div>


        <div class="col-md-8">
            <!-- Acá van los componentes de los formularios -->
            <!-- <app-users></app-users> -->
        </div>

    </div>

</div>