<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input type="text" placeholder="Nombre De Usuario" required>
            <input type="password" placeholder="Contraseña" required>
            <button>Ingresar</button>
            <p class="message">¿No estás registrado? <a href="pagina_de_registro.html">Crear una cuenta</a></p>          
          </form>
        </div>
      </div>
</body>
__________________________________________________________________________________________________________
<body>
    <form class="register-form">
        <div class="form">
            <input type="text" placeholder="Nombre Completo" required>
            <input type="email" placeholder="E-mail" required>
            <input type="text" placeholder="Nombre De Usuario" required>      
            <input type="password" placeholder="Contraseña" required>
            <button>Registrarse</button>
            <p class="message">¿Ya estás registrado? <a href="index.html">Iniciar Sesión</a></p>
        </div>
    </form>
</body>
