
<footer>
    <div class="container-fluid">
    <nav class="d-flex flex-column align-items-center justify-content-center text-center ">
        <ul class="list-unstyled d-lg-none d-xl-none">
            <li class="Up"><a href="#"><i class="fas fa-chevron-up"></i></a></li>
        </ul>
        <ul class="list-unstyled Address">
            <li><h4><span>Dirección:</span> Calle Falsa 123, San Rafael, Mendoza</h4></li>
            <li><h4><span>Telefono:</span>02***-15-*****</h4></li>
        </ul>
    </nav>
    </div>
</footer>