<footer class="footer">
    <div class="container">
        <ul>
            <h4>CIC: Semillas del Cambio</h4>
            <a href="https://www.google.com/maps/place/El+Jacaranda+4065,+San+Rafael,+Mendoza/@-34.6363918,-68.3781006,17z/data=!3m1!4b1!4m5!3m4!1s0x9679a783f5f9a3fb:0x85a2d7537a334e2a!8m2!3d-34.6363962!4d-68.3755257?entry=ttu" class="link">       
                 Direccion: Jacaranda 4065, 5600
            </a>
            -
            <a href="tel: 0260 405-0567" class="link">
                 Telefono: 0260 405-0567</a>
        </ul>
    </div>
</footer>
