
.footer {
    text-align: center;
    background-color: #333;
    color: #c9c6c6;
    
}

.container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 2px 0px;
}

.container .box .topbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .topbar a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    transition: 300ms ease;
}

.container .topbar a:hover{
    color: rgb(10, 107, 107);
}

.container .box-2{
    width: 100%;
    height: 100%;
    display: -ms-inline-grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

.container .box button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo-2{
    background-color: rgb(31, 29, 29);
    padding: 0.2%;
}

.link{
    color: gray;
    text-decoration: none;
}

.btn2 {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #c9c6c6;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s;
  }
  
  .btn2::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #333;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #333;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2:hover::before {
    transform: translateX(-25px);
    height: 0;
  }
  
  .btn2:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
  }
  
  .btn2:hover {
    border: 2px solid #fefefe;
  }
  
  .btn2 span {
    position: relative;
    z-index: 3;
  }
  
  button {
    text-decoration: none;
    border: none;
    background-color: transparent;
  }
  

@media screen and (max-width:400px){
    .container {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
