<app-navbar></app-navbar>

<!-- ------------------------------------------------- -->

<p style="margin-left: 30px" class="d-inline-flex gap-1">
  <a
    class="btn btn-danger"
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    VER LISTA DE TAREAS
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <ul>
      <p class="hola">LISTA DE TAREAS. link a cada componente</p>
      <p class="hola">Global</p>
      <li>
        <a href="navbar">Navbar</a>
        <strong class="hacer">DISEÑO: SIN HACER</strong> &nbsp;
        <strong class="hacer">FUNCIONALIDAD: SIN HACER</strong>
      </li>
      <li>
        <a href="footer">Footer</a>
        <strong class="hacer">DISEÑO: SIN HACER </strong> &nbsp;
        <strong class="hacer"> FUNCIONALIDAD: SIN HACER</strong>
      </li>
      <li>
        <a href="home">Tarjeta evento</a>
        <strong class="terminado">DISEÑO TERMINADO.</strong> &nbsp;
        <strong class="hacer"> FUNCIONALIDAD: SIN HACER</strong>
      </li>
      <br />
      <p class="hola">Secciones</p>
      <li>
        <a href="home">Página principal</a>
        <strong class="terminado">DISEÑO TERMINADO.</strong> &nbsp;
        <strong class="hacer"> FUNCIONALIDAD: SIN HACER</strong>
      </li>
      <li>
        <a href="about-us">Sobre nosotros</a>
        <strong class="hacer">DISEÑO: SIN HACER</strong> &nbsp;
        <strong class="hacer">FUNCIONALIDAD: SIN HACER</strong>
      </li>
      <li>
        <a href="gallery">Galeria</a>
        <strong class="hacer">DISEÑO: SIN HACER</strong> &nbsp;
        <strong class="hacer">FUNCIONALIDAD: SIN HACER</strong>
      </li>
      <li>
        <a href="contact">Contacto</a>
        <strong class="incompleto">DISEÑO REHACER. ver corrección de issue en github</strong> &nbsp;
        <strong class="hacer">FUNCIONALIDAD: SIN HACER</strong>
      </li>
      <br />
      <p class="hola">Formularios</p>
      <li>
        <a href="admin/users">Usuarios</a>
        <strong class="terminado"
          >DISEÑO TERMINADO. FUNCIONALIDAD TERMINADO</strong>
      </li>
      <li>
        <a href="admin/events">Evento</a>
        <strong class="incompleto"
          >CASI TERMINADO. IMPLEMENTAR issue 1.7.0</strong>
      </li>
      <li>
        <a href="admin/sections">Editar secciones</a
        ><strong class="incompleto"
          >CASI TERMINADO. IMPLEMENTAR issue 1.7.0</strong>
      </li>
      <li>
        <a href="admin/volunteer">Voluntarios</a>
        <strong class="terminado">DISEÑO: HECHO</strong> &nbsp;
        <strong class="hacer">FUNCIONALIDAD: SIN HACER</strong>
      </li>
      <li>
        <a href="login">Inicio sesión</a>
        <strong class="terminado">DISEÑO TERMINADO</strong> &nbsp;
        <strong class="hacer">FUNCIONALIDAD: SIN HACER</strong>
      </li>
    </ul>
  </div>
</div>

<!-- ------------------------------------------------- -->

<router-outlet>
  <!-- <app-home></app-home> -->
</router-outlet>

<app-footer></app-footer>
