<app-navbar></app-navbar>

<router-outlet></router-outlet>

<!-- ------------------------------------------------- -->

<a routerLink="login" class="btn btn-success">INICIAR SESION</a>

<p style="margin-left: 30px" class="d-inline-flex gap-1">
  <a
    class="btn btn-danger"
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    VER LISTA DE TAREAS
  </a>
</p>


<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <ul>
      <p class="hola">LISTA DE TAREAS. link a cada componente</p>




      <p class="hola">Global</p>
      <li>
        <a href="navbar">Navbar</a>
        <strong class="terminado">diseño terminado</strong> &nbsp;
        <strong class="terminado">funcionalidad terminado</strong>
      </li>
      <li>
        <a href="footer">Footer</a>
        <strong class="terminado">diseño terminado 
        </strong> &nbsp;
        <strong class="terminado"> funcionalidad terminado </strong>
      </li>
      <li>
        <a href="home">Tarjeta evento</a>
        <strong class="terminado">diseño terminado.</strong> &nbsp;
        <strong class="terminado"> funcionalidad terminado</strong>
        <strong class="incompleto">BUG: el modal se ve mal en tamaño de celulares, arreglar.</strong>
      </li>
      <br />




      <p class="hola">Secciones</p>
      <li>
        <a href="home">Página principal</a>
        <strong class="terminado">diseño terminado.</strong> &nbsp;
        <strong class="terminado"> funcionalidad terminado</strong>
      </li>
      <li>
        <a href="about-us">Sobre nosotros</a>
        <strong class="terminado">diseño terminado</strong> &nbsp;
        <strong class="terminado">funcionalidad terminado</strong>
      </li>
      <li>
        <a href="gallery">Galeria</a>
        <strong class="terminado">diseño terminado</strong> &nbsp;
        <strong class="terminado">funcionalidad terminado</strong>
        
      </li>
      <li>
        <a href="contact">Contacto</a>
        <strong class="terminado">diseño terminado</strong> &nbsp;
        <strong class="terminado">funcionalidad terminado</strong>
      </li>
      <br />




      <p class="hola">Formularios</p>
      <li>
        <a routerLink="admin">Panel Administración</a>
        <strong class="terminado"
          >diseño terminado. funcionalidad terminado</strong>
      </li>
      <li>
        <a href="admin/users">Usuarios</a>
        <strong class="terminado"
          >diseño terminado. funcionalidad terminado</strong>
      </li>
      <li>
        <a href="admin/events">Evento</a>
        <strong class="terminado">diseño terminado</strong> &nbsp;
        <strong class="terminado">funcionalidad terminado</strong>
      </li>
      <li>
        <a href="admin/sections">Editar secciones</a>
        <strong class="terminado">diseño terminado</strong> &nbsp;
        <strong class="terminado">funcionalidad terminado</strong>
      </li>
      <li>
        <a href="admin/volunteer">Voluntarios</a>
        <strong class="terminado">diseño terminado</strong> &nbsp;
        <strong class="hacer">FUNCIONALIDAD: SIN HACER. el formulario no envia nada al back. conectar con el back</strong>
      </li>
      <li>
        <a href="login">Inicio sesión</a>
        <strong class="terminado">diseño terminado</strong> &nbsp;
        <strong class="terminado">funcionalidad terminado</strong>
      </li>



    </ul>
  </div>
</div>

<!-- ------------------------------------------------- -->

<router-outlet>
  <!-- <app-home></app-home> -->
</router-outlet>

<app-footer></app-footer>
