<div class="container">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <app-admin></app-admin>
        </div>
        <!-- Sidebar -->

        <!-- FORMULARIO DE EVENTOS -->
        <div class="form-panel col-md-8">
            <form class="register-form">
                <div class="form-2">
                    <form>
                        <p class="fs-2 fw-bold">Crear nuevo evento</p>
                        <p class="text-title">Título</p>
                        <input class="form-control input-small" type="text" name="" id="">

                        <p class="text-title">Subtítulo   (máx. 120)</p>
                        <textarea name="" id="" cols="50" rows="5"></textarea>

                        <p class="text-title">Descripción</p>
                        <textarea name="" id="" cols="50" rows="5"></textarea>

                        <br><br>
                        <p class="text-title">Fecha de evento</p>
                        <input class="form-control input-small" type="datetime-local" name="" id="">

                        <br>
                        <p class="text-title">Imagen</p>
                        <input type="file" accept="image/jpeg, image/png" id="imageInput" name="image">
                        <br><br>

                        <label for="categoria">Categoría:</label>
                            <select id="categoria" required>
                                <option value="Merienda">Merienda</option>
                                <option value="Donaciones">Donaciones</option>
                                <option value="Rifa">Rifa</option>
                                <option value="Otro">Otro</option>

                        <br><br>
                        <input style="width: 20px; height: 20px;" type="checkbox" name="" id="">
                        &nbsp;
                        <label class="text-title fs-5">Destacado</label>
                        <br><br>

                        <button class="btn btn-success">Publicar</button>
                    </form>
                <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

                <script>
                    tinymce.init({
                        selector: 'textarea',
                        height: 400,
                        plugins: 'autoresize lists link',
                        toolbar: 'undo redo | formatselect | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | link',
                        content_style: 'body { font-family: Arial, sans-serif; font-size: 16px; }',
                        menubar: false,
                        statusbar: false,
                        autoresize_bottom_margin: 20,
                        valid_elements: '*[*]', // Permite todos los elementos y atributos
                        valid_children: '+body[style]', // Permite cualquier contenido dentro del body
                        extended_valid_elements: 'script[src|async|defer|type|charset]',
                        verify_html: false, // Desactiva la verificación HTML.
                    });
                      </script>
            <!-- FIN FORMULARIO DE EVENTOS -->

 </div>
 </form>
