<div class="container">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <app-admin></app-admin>
        </div>
        <!-- Sidebar -->

        <!-- FORMULARIO DE EVENTOS -->
        <div class="form-panel col-md-8">

            <form class="form-2">
                <p class="fs-2 fw-bold">Crear publicación</p>
                <p class="text-title">Título</p>
                <input class="form-control input-small" type="text" name="" id="">

                <p class="text-title">Subtítulo (máx. 120)</p>
                <textarea name="" id="" cols="50" rows="5"></textarea>

                <p class="text-title">Descripción</p>
                <textarea name="" id="" cols="50" rows="5"></textarea>

                <br><br>
                <p class="text-title">Fecha de evento</p>
                <input class="form-control input-small" type="datetime-local" name="fecha" id="">

                <br>
                <p class="text-title">Imagen</p>
                <input type="file" accept="image/jpeg, image/png" id="imageInput" name="image">
                <br><br>

                <p class="text-title">Categoría</p>
                <select name="" id="" style="width: 150px; height: 30px;">
                    <option value=""></option>
                </select>

                <br><br>
                <input style="width: 20px; height: 20px;" type="checkbox" name="" id="">
                &nbsp;
                <label class="text-title fs-5">Destacado</label>
                <br><br>

                <button class="btn btn-success">Publicar</button>
            </form>


            <!-- <h1>Crear Nuevo Evento</h1> -->

            <!-- <form id="eventoForm">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" required><br>

                <label for="descripcionCorta">Descripción Corta:</label>
                <input type="text" id="descripcionCorta" required><br>

                <label for="descripcionLarga">Descripción Larga:</label><br>
                <textarea id="descripcionLarga" rows="4" cols="50" required> Descripción larga...</textarea><br>

                <label for="fechaEvento">Fecha de Evento:</label>
                <input type="date" id="fechaEvento" required><br>

                <label for="imagen">Imagen (URL):</label>
                <input type="url" id="imagen" required><br>

                <label for="categoria">Categoría:</label>
                <select id="categoria" required>
                    <option value="Merienda">Donaciones</option>
                    <option value="Donaciones">Merienda</option>
                    <option value="Rifa">Rifa</option>
                    <option value="Otro">Otro</option>

                </select><br>

                <label for="importante">¿Es Importante/Urgente?</label>
                <input type="checkbox" id="importante"><br>

                <button type="submit">Crear Evento</button>

            </form>
            <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
                <script>
                    tinymce.init({
                        selector: '#descripcionLarga',
                        height: 400,
                        plugins: 'autoresize lists link',
                        toolbar: 'undo redo | formatselect | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link',
                        content_style: 'body { font-family: Arial, sans-serif; font-size: 16px; }',
                        menubar: false,
                        statusbar: false,
                        autoresize_bottom_margin: 20,
                        valid_elements: '*[*]', // Permite todos los elementos y atributos
                        valid_children: '+body[style]', // Permite cualquier contenido dentro del body
                        extended_valid_elements: 'script[src|async|defer|type|charset]',
                        verify_html: false, // Desactiva la verificación HTML.
                    });
                </script>
            </script> -->
            
            <!-- FIN FORMULARIO DE EVENTOS -->

        </div>

    </div>
</div>