/* .container {
    position: relative;
    z-index: 1;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .container:before,
  .container:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  
  .container .info span .fa {
    color: #EF3B3A;
  }
  
  body {
    background: #8a8cff;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .form-panel {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 100px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .form-panel input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .form-panel select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .form-panel textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    resize: vertical;
  }
  
  .form-panel button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #000000;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .form-panel button:hover,
  .form-panel button:active,
  .form-panel button:focus {
    background: #424242;
  } */
  /* ------------------------------- */


  .form-panel{
    width: 70%;
    height: 100%;
    min-width: max-content;
}

.input-small{
  width: max-content;
  margin: 5px 0px 5px 0px;
}

.text-title{
  margin: 0;
  padding: 0;
}

.form-1{
  background-color: rgb(204, 204, 204);
  padding: 10px 0px 10px 30px;
}

.form-2{
  background-color: rgb(235, 235, 235);
  padding: 10px 30px 10px 30px;
}