
.form-1{
  background-color: rgb(204, 204, 204);
  padding: 10px 0px 10px 30px;
}

.form-2{
  background-color: rgb(235, 235, 235);
  padding: 10px 30px 10px 30px;
}

.button-category{
  background-color: #0084ff; 
  border: none;
  color: white; 
  height: 30px;
}

.button-category:hover{
  background-color: #0065c4; 
}