<div class="container">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <app-admin></app-admin>
        </div>
        <!-- Sidebar -->

        <!-- FORMULARIO DE EVENTOS -->
        <div class="form-panel col-md-8">

            <form class="register-form">
                <div class="form-2">
                    <form>
                        <p class="fs-2 fw-bold">Crear nuevo evento</p>
                        <p class="text-title">Título</p>
                        <input class="form-control input-small" type="text" name="" id="">

                        <p class="text-title">Subtítulo   (máx. 120)</p>
                        <textarea name="" id="" cols="50" rows="5"></textarea>

                        <p class="text-title">Descripción</p>
                        <textarea name="" id="" cols="50" rows="5"></textarea>

                        <br><br>
                        <p class="text-title">Fecha de evento</p>
                        <input class="form-control input-small" type="datetime-local" name="" id="">

                        <br>
                        <p class="text-title">Imagen</p>
                        <input type="file" accept="image/jpeg, image/png" id="imageInput" name="image">
                        <br><br>

                        <p class="text-title">Categoría</p>
                        <select name="" id="" style="width: 150px; height: 30px;">
                            <option value=""></option>
                        </select>

                        <br><br>
                        <input style="width: 20px; height: 20px;" type="checkbox" name="" id="">
                        &nbsp;
                        <label class="text-title fs-5">Destacado</label>
                        <br><br>

                        <button class="btn btn-success">Publicar</button>
                    </form>
                </div>
            </form>



            <!-- <h1>Crear Nuevo Evento</h1>
            <form id="eventoForm">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" required><br>

                <label for="descripcionCorta">Descripción Corta:</label>
                <input type="text" id="descripcionCorta" required><br>

                <label for="descripcionLarga">Descripción Larga:</label><br>
                <textarea id="descripcionLarga" rows="4" cols="50" required></textarea><br>

                <label for="fechaEvento">Fecha de Evento:</label>
                <input type="date" id="fechaEvento" required><br>

                <label for="imagen">Imagen (URL):</label>
                <input type="url" id="imagen" required><br>

                <label for="categoria">Categoría:</label>
                <select id="categoria" required>
                    <option value="Merienda">Donaciones</option>
                    <option value="Donaciones">Merienda</option>
                    <option value="Rifa">Rifa</option>
                    <option value="Otro">Otro</option>

                </select><br>

                <label for="importante">¿Es Importante/Urgente?</label>
                <input type="checkbox" id="importante"><br>

                <button type="submit">Crear Evento</button>
            </form> -->
        </div>
        <!-- FIN FORMULARIO DE EVENTOS -->

    </div>
</div>