

  


    <!-- FORMULARIO DE SECCIONES -->
    <div class="form-panel col-md-12">
        <!-- <div class="form-2">

            <form (ngSubmit)="saveInfo('sobrenosotros')">
                <p class="fs-2 fw-bold">Sobre nosotros</p>
                <editor name="aboutUs" [(ngModel)]="aboutUs" [init]="{
                        base_url: '/tinymce', 
                        suffix: '.min'       
                      }">
                </editor>
                <br><br>
                <button [disabled]="!aboutUs" class="btn btn-success">Actualizar</button>
            </form>
        </div> -->

        <div class="form-2">
            <form (ngSubmit)="saveInfo('telefono')">
                <p class="fs-2 fw-bold">Información de contacto</p>
                <p class="text-title">Teléfono</p>
                <input [(ngModel)]="phone" class="form-control input-small" type="text" name="phone" id="">
                <button [disabled]="!phone" class="btn btn-success">Actualizar</button>
            </form>
            <br>
            <form (ngSubmit)="saveInfo('email')">
                <p class="text-title">Email</p>
                <input [(ngModel)]="email" class="form-control input-small" type="text" name="email" id="">
                <button [disabled]="!email" class="btn btn-success">Actualizar</button>
            </form>
        </div>

        <div class="form-1">

            <p class="fs-2 fw-bold">Donaciones Mercado Pago</p>

            <form (ngSubmit)="saveInfo('donacion_500')">
                <p class="text-title">Link $500</p>
                <input [(ngModel)]="donacion_500" class="form-control input-small" type="text" name="instagram" id=""
                    placeholder="Link de pago">
                <button [disabled]="!donacion_500" class="btn btn-success">Actualizar</button><br><br>
            </form>

            <form (ngSubmit)="saveInfo('donacion_link')">
                <p class="text-title">Link para elegir monto</p>
                <input [(ngModel)]="donacion_link" class="form-control input-small" type="text" name="instagram" id=""
                    placeholder="Link de pago">
                <button [disabled]="!donacion_link" class="btn btn-success">Actualizar</button><br><br>
            </form>

        </div>

        <div class="form-2">
            <form (ngSubmit)="saveInfo('whatsapp')">
                <p class="fs-2 fw-bold">Redes sociales</p>
                <p class="text-title">WhatsApp</p>

                <input [(ngModel)]="whatsappLink" class="form-control input-small" type="text" name="instagram" id=""
                    placeholder="Link a whatsapp">
                <button [disabled]="!whatsappLink" class="btn btn-success">Actualizar</button><br><br>
            </form>
        </div>


        <div class="form-1" style="padding-right: 30px;">
            <p class="fs-2 text-title fw-bold">Datos guardados</p>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Contenido</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of information">
                        <td>{{i.type}}</td>
                        <td>{{i.content}}</td>
                        <td>
                            <button (click)="deleteInfo(i.id)" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- FIN FORMULARIO DE SECCIONES -->