<div class="container">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3">
            <app-admin></app-admin>
        </div>
        <!-- Sidebar -->


        <!-- FORMULARIO DE SECCIONES -->
        <div class="form-panel col-md-8">
            <!-- Escribir el código acá adentro -->
            <div class="form-1">

                <form>
                    <p class="fs-4">Sobre nosotros</p>
                    <strong style="font-size: 30px;">Implementar el input con "TinyMCE" editor de texto HTML</strong>
                    <p class="text-title">Parte 1</p><br>
                    <textarea name="" id="" cols="70" rows="10"></textarea>
                    <!-- <input type="file" id="img" name="img" accept="image/*"> -->
                    <br><br>

                    <p class="text-title">Parte 2</p>
                    <textarea name="" id="" cols="70" rows="10"></textarea>
                    <!-- <input type="file" id="img" name="img" accept="image/*"> -->
                    <br><br>
                    <button class="btn btn-success">Actualizar</button>
                </form>
            </div>
            <div class="form-2">
                <form>
                    <p class="fs-4">Información de contacto</p>
                    <p class="text-title">Teléfono</p>
                    <input class="form-control input-small" type="text" name="" id="">
                    <button class="btn btn-success">Actualizar</button>
                </form>
                <br>
                <form>
                    <p class="text-title">Dirección</p>
                    <input class="form-control input-small" type="text" name="" id="">
                    <button class="btn btn-success">Actualizar</button>
                </form>
            </div>

            <div class="form-1">
                <form>
                    <p class="fs-4">Redes sociales. Link</p>
                    <p class="text-title">Instagram</p>
                    <!-- <img src="../../../../assets/images/instagram.png" class="img-small" alt=""> -->
                    <input class="form-control input-small" type="text" name="asd" id="">
                    <button class="btn btn-success">Actualizar</button><br><br>
                </form>
                <form>
                    <!-- <img src="../../../../assets/images/face.png" class="img-small" alt=""> -->
                    <p class="text-title">Facebook</p>
                    <input class="form-control input-small" type="text" name="" id="">
                    <button class="btn btn-success">Actualizar</button>
                </form>
            </div>

            <br>

        </div>
        <!-- FIN FORMULARIO DE SECCIONES -->


    </div>
</div>