<p>home works!</p>

<ul>
    <p class="hola">LISTA DE TAREAS. link a cada componente</p>
    <li><a href="navbar">Navbar</a></li>
    <li><a href="footer">Footer</a></li>
    <li><a href="home">Página principal</a></li>
    <li><a href="admin/events">Tarjeta evento</a></li>
    <br>
    <p class="hola">Secciones</p>
    <li><a href="about-us">Sobre nosotros</a></li>
    <li><a href="gallery">Galeria</a></li>
    <li><a href="contact">Contacto</a></li>
    <br>
    <p class="hola">Formularios</p>
    <li><a href="admin/events">Evento</a></li>
    <li><a href="admin/sections">Editar secciones</a></li>
    <li><a href="admin/volunteer">Voluntarios</a></li>
    <li><a href="login">Inicio sesión</a></li>
</ul>