<div class="container">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3">
            <app-admin></app-admin>
        </div>
        <!-- Sidebar -->


        <!-- FORMULARIO DE USUARIOS -->
        <div class="form-panel col-md-8">
            <div>
                <form class="register-form">
                    <div class="form">
                        <strong>Registrar administrador</strong>
                        <br><br>
                        <p class="text-body-secondary fw-light">no usar espacios ni acentos en el nombre</p>
                        <input type="text" placeholder="Nombre de usuario" required>
                        <!-- <input type="email" placeholder="E-mail" required> -->
                        <input type="text" placeholder="Contraseña" required>
                        <button>Registrar</button>
                        <!-- <p class="message">¿Ya estás registrado? <a href="index.html">Iniciar Sesión</a></p> -->
                    </div>
                </form>
            </div>
            <hr>


            <p class="text-title">Usuarios registrados</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td><button type="button" class="btn btn-danger">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
            <br><br><br><br>

        </div>
        <!-- FIN FORMULARIO DE USUARIOS -->

    </div>
</div>

<!-- <app-footer></app-footer> -->