
.form-panel{
    width: 70%;
    height: 100%;
    min-width: max-content;
}

.input-small{
  width: max-content;
  margin: 5px 0px 5px 0px;
}

.text-title{
  margin: 0;
  padding: 0;
}

.form-1{
  background-color: rgb(204, 204, 204);
  padding: 10px 30px 10px 30px;
}

.form-2{
  background-color: rgb(235, 235, 235);
  padding: 10px 0px 10px 30px;
}



/* Formato para celulares */
@media (max-width: 820px) {

    .form-panel{
        margin-top: 20px;
        /* width: 100%; */
        
    }

  }
  