<div class="container">
    <div class="row">

        <!-- Sidebar -->
        <div style="z-index: 1; margin-right: 20px;" class="col-md-3">
            <app-admin></app-admin>
        </div>
        <!-- Sidebar -->


        <!-- FORMULARIO DE USUARIOS -->
        <div class="form-panel col-md-8">
            <div  class="form-2">
                <form (ngSubmit)="saveUser()" class="register-form">
                    <p class="fs-2 fw-bold">Registrar administrador</p>
                    <p class="text-title">Nombre de usuario</p>
                    <input [(ngModel)]="newUser.name" class="form-control input-small" type="text" name="name" id="">

                    <p class="text-title">Contraseña</p>
                    <input [(ngModel)]="newUser.password" class="form-control input-small" type="text" name="password"
                        id="">
                    <button class="btn btn-success">Registrar</button>
                </form>
            </div>


            <div class="form-1">
                <p class="fs-2 fw-bold">Administradores registrados</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre admin</th>
                            <th scope="col">¿Email?</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of usersRegistered">
                            <th>{{u.id}}</th>
                            <td>{{u.name}}</td>
                            <td>{{u.email}}</td>
                            <td><button (click)="confirmDelete(u.id)" type="button" class="btn btn-danger">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br><br><br><br>

        </div>
        <!-- FIN FORMULARIO DE USUARIOS -->

    </div>
</div>

<!-- <app-footer></app-footer> -->